@font-face {
	font-family: AquilineTwo;

	src: url("../fonts/AquilineTwo-webfont.eot") format("eot"),
		url("../fonts/AquilineTwo-webfont.ttf") format("truetype"),
		url("../fonts/AquilineTwo-webfont.woff") format("woff");
}

div#svg-wrap {
	position: relative;
	border: 2px solid #745c1b;
}

div#svg-wrap::before {
	content: "";
	background: #cde0ff;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -2;
}

div#svg-wrap::after {
	content: "";
	background: url("img/t0.png");
	opacity: 0.1;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
}